@import '~bootstrap/scss/bootstrap.scss';


$primaryColor: #BADA55;
$secondaryColor: blue;
$PrimaryDisplay: grid;
$SecondaryDisplay: flex;
$breakpoint-tablet: 600px;

.main-body{
    display: $PrimaryDisplay;
    grid-template-columns: 1fr;
}
.header{
    display: $PrimaryDisplay;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 186px;
    background-color: #00b6d8;
    color: white;
    padding: 0px 17px;
}
.logo {
    display: $PrimaryDisplay;
    justify-items: center
}
.navigation{
    display: $PrimaryDisplay;
    grid-template-columns: 1fr 1fr
}
.right-nav{
    display: $PrimaryDisplay;
    grid-template-columns: 25% 25%;
    justify-items: center;
    align-items: center;
    grid-column-gap: 5px;
    div{
        cursor: pointer;
        padding: 15px
    }
}
.left-nav{
    display: $PrimaryDisplay;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: end;
    align-items: center;
    grid-column-gap: 5px;
    div{
        cursor: pointer;
        padding: 15px
    }
}
.right-nav, .left-nav{
    div:hover{
        background-color: #055e6f
    }
    
}
.search{
    display: flex;
    justify-content: center;
    input, button{
        align-self: center;
        justify-self: center
    }
}

.body{
    display: $PrimaryDisplay;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    div{
        align-items: center;
        img{
            max-width: 100%;
        }
    }
    button{
        grid-column: span 3;
        margin-top: 10px
    }
    button:hover{
        cursor: pointer;
    }
    .card{
        display: grid;
        grid-template-rows: 1fr 10% 0.5fr
    }
}
.detail-item{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
}
.form{
    display: grid;
    grid-row-gap: 14px;
    text-align: center;
    padding: 10px 10px
}
.form-item{
    display: grid;
    grid-template-columns: 20% 1fr;
    text-align: left
}
.login-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.btn{
    cursor: pointer;
}
.SosMed{
    display: grid;
    grid-template-columns: 1fr 1fr
}
.body-sells{
    display: grid;
    grid-row-gap: 15px
}
.card-body{
    display: grid;
    grid-row-gap: 15px
}
.body-left, .body-right{
    display: grid;
    grid-row-gap: 15px 
}
.item-detail-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}
.my-awesome-placeholder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px
}
.text-row{
    width: 100%
}
.child-placeholder{
    display: $SecondaryDisplay;
    justify-content: space-between;
}
.item-body{
    display: $PrimaryDisplay;
    grid-template-columns: 40% 1fr;
    grid-gap: 10px
}
.item-detail-head {
    display: $SecondaryDisplay;
    justify-content: space-between;        
    align-items: center;    
}
.stat{
    padding: 10px;
    background-color: #5bc0de;
    color: white;
    border-radius: 10px;
}
.Price > span:last-child{
    color: green;
}
.quick-bid{
    color: white;
}
.submit{
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-between;
}
.text-or{
    border-bottom: 1px solid #ebebeb;
    color: #999;
    font-style: italic;
    font-weight: bold;
    line-height: 0.1em;
    margin: 10px 0 15px;
    padding: -5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.detail__action-link{
    position: relative;
    border: 1px solid #ebebeb;
    font-weight: bold;
    display: block;
    padding: 10px;
}
.detail__action-link-count{
    display: block;
    color: #555;
    font-size: 12px;
    padding-bottom: 10px;
}
@media (max-width: 768px){
    .body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        button{
           grid-column: span 2; 
        }
        .card{
            display: flex;
        }
        div{
            align-self: end;    
        }
    }
    .price-item, .bid-timer{
        p{
            display: none;
        }
    }
    .detail-item{
        display: grid;
    }
    .right-nav, .left-nav{
        grid-template-columns: 1fr 1fr
    }
    .form-item{
        grid-template-columns: 1fr
    }
    .login-form{
        grid-template-columns: 1fr; 
    }
}