$primaryColor: #BADA55;
$secondaryColor: blue;

.header{
    background-color: $primaryColor
}
.body{
    background-color: $secondaryColor
}
.container-fluid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}